form {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50px;
    top: 100px;
    }

    .basic-container {
        padding: 64px 64px 400px 64px;
      }
      .version-info {
        font-size: 8pt;
        float: right;
        padding: 8px;
      }