<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<form [formGroup]="addExpenseForm" (ngSubmit)="addExpense()">
  <fieldset>
    <div class="form-group">
      <input type="date" formControlName="date" class="form-control phone" placeholder="Date"
        [class.is-invalid]="getDate.invalid && getDate.touched" (change)="updateSelectedDate()" />
    </div>
    <div class="form-group">
      <input type="text" formControlName="typeId" class="form-control phone" maxlength="28" placeholder="Type Id"
        [class.is-invalid]="getTypeId.invalid && getTypeId.touched" hidden />
    </div>
    <div class="form-group">
      <span *ngFor="let expenditureType of expenditureTypes">
        <!-- Handle branch node buttons here -->
        <!-- <span *ngIf="item.masterTypes && item.masterTypes.length > 0"> -->
        <button type="button" mat-raised-button color="primary" [matMenuTriggerFor]="menu.childMenu">
          {{typeValue}}
          <mat-icon>expand_more</mat-icon>
        </button>
        <app-menu-item #menu [expenditureTypes]="expenditureType.subTypes" [isRootType]="true">
        </app-menu-item>
        <!-- </span> -->
        <!-- Leaf node buttons here -->
        <!-- <span *ngIf="!item.masterTypes || item.masterTypes.length === 0">
          <button mat-button color="primary" (click)="onSave(item.name)">
            {{item.name}}
          </button>
        </span> -->
      </span>
    </div>
    <div class="form-group">
      <input type="number" formControlName="amount" class="form-control phone" maxlength="28" placeholder="Amount"
        [class.is-invalid]="getAmount.invalid && getAmount.touched" />
    </div>
    <!-- <div class="form-group">
      <input type="text" formControlName="description" class="form-control phone" maxlength="28"
        placeholder="Description" />
    </div> -->
    <div class="form-group">
      <input type="text" formControlName="note" class="form-control phone" maxlength="28" placeholder="Note" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit" [disabled]="!addExpenseForm.valid">Add</button>
    </div>
  </fieldset>
</form>