<form [formGroup]="typeForm" (ngSubmit)="saveTypeAndMasterType()">

    <mat-form-field appearance="fill">
        <mat-label>{{parentTypeName}}</mat-label>
        <input type="text" placeholder="Type" matInput [matAutocomplete]="auto" formControlName="masterTypeName">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <button mat-button color="primary" type="submit" [disabled]="!typeForm.valid" mat-dialog-close>Save</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
</form>